/full_tables
/demo_tables
/output
/artifacts
/Readmitted_patients
/sample_patients
/figures
/.vscode/
__pycache__/
.venv/
demo_tables/
full_tables/
demo_patient_measurements_48h/
patient_measurements_48h/
sample_patients/*
Readmitted_patients/
spark-warehouse/
spark_conf/
checker-files-from-Claude-Code/
older-unused-files/
test-files-by-Claude-Code/