/full_tables
/demo_tables
/output
/artifacts
/Readmitted_patients
/sample_patients
/figures
admissions.csv
chartevents.csv
d_icd_diagnoses.csv
d_items.csv
d_labitems.csv
patients.csv
diagnoses_icd.csv
icustays.csv
/.vscode/
venv/